<div class="customers-container">
    <h2 style="font-size: 24px; font-weight: bold;">Customers
      <div class="actions">
          <button class="export-btn">
              <i class="fas fa-download"></i>
          </button>
          <button class="filters-btn">
              <i class="fas fa-filter"></i>
          </button>
      </div>
  </h2>

  <div class="summary">
      <p>1 in total</p>
  </div>

  <div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th><div class="select-box"></div></th>
                  <th>Customer</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Default Payment Method</th>
                  <th>Create Date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of items">
                  <td><div class="select-box"></div></td>
                  <td>{{ item.customer }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.defaultPaymentMethod }}</td>
                  <td>{{ item.createDate }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
