<header>
  <h1 style="font-size: 24px; font-weight: bold;">Customers</h1>
</header>
<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Default Payment Method</th>
          <th>Create Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.customer }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.defaultPaymentMethod }}</td>
          <td>{{ item.createDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>