<ng-container>
  <form (ngSubmit)="Submit()" [formGroup]="paymentForm" *ngIf="!qrCodeImageUrl">
    <div>
      <h2 class="form-header">Payment Request for Customer</h2>
      <div style="display: flex;">
        <div class="form-group mr-4" style="width: 46%;">
          <label for="name">{{
            isCustomer ? "UserName" : "Customer Name"
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="username"
            ngModel
            required
          />
        </div>
        <div class="form-group ml-4" style="width: 46%;">
          <label for="name">{{
            isCustomer
              ? "Email Address (Optional)"
              : "Customer Email Address (Optional)"
          }}</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Payment Amount</label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="account">Customer Account Number</label>
        <input
          type="text"
          class="form-control"
          formControlName="accountNumber"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="account">Merchant Account Number</label>
        <input
          type="text"
          class="form-control"
          formControlName="merchantAccountNumber"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="bank"
          >Select {{ isCustomer ? "Customer" : "" }} Bank Name</label
        >
        <select class="form-control" name="bank" formControlName="bank">
          <option value="Bank Al-Habib">Bank Al-Habib</option>
          <option value="UBL">UBL</option>
          <option value="HBL">HBL</option>
        </select>
      </div>
      <div class="form-group">
        <label for="purpose">Payment Purpose</label>
        <input
          type="text"
          class="form-control"
          formControlName="paymentPurpose"
          ngModel
          required
        />
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
  <img *ngIf="qrCodeImageUrl" [src]="qrCodeImageUrl" alt="QR Code">
  <button *ngIf="qrCodeImageUrl" class="btn btn-primary" (click)="downloadQRCode()">Download QR Code</button>
</ng-container>
