<div>
  <h2>Payments</h2>
  <div class="stats-row">
    <div class="stats-box cyan">
      <p class="title">Total Pending Records</p>
      <p class="chip">
        {{ (reportingCounts?.pendingCount ?? 0) + " Records" }}
      </p>
    </div>
    <div class="stats-box lightgreen">
      <p class="title">Total Paid Records</p>
      <p class="chip">
        {{ (reportingCounts?.acceptedCount ?? 0) + " Records" }}
      </p>
    </div>
    <div class="stats-box lightcoral">
      <p class="title">Total Rejected Records</p>
      <p class="chip">
        {{ (reportingCounts?.rejectedCount ?? 0) + " Records" }}
      </p>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Account No.</th>
          <th>Merchant Account No.</th>
          <th>Status</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of items"
          [ngClass]="item.status == 'Succeeded' ? 'success' : ''"
        >
          <td class="link">{{ item.accountNumber }}</td>
          <td>{{ item.merchantAccountNumber }}</td>
          <td>
            <span
              *ngIf="item.status == 'Pending'"
              class="badge badge-pill badge-light"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Succeeded'"
              class="badge badge-pill badge-success"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Rejected'"
              class="badge badge-pill badge-danger"
              >{{ item.status }}</span
            >
          </td>
          <td>{{ item.paymentPurpose }}</td>
          <td>{{ item.createdAt | date }}</td>
          <td>{{ item.amount + " PKR" }}</td>
          <td *ngIf="item.status == 'Pending'">
            <button
              style="margin-right: 8px"
              class="btn btn-success"
              (click)="pay(item)"
            >
              Pay
            </button>
            <button class="btn btn-danger" (click)="reject(item)">
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
