.stats-row {
  display: flex;
  margin: 20px 0;
  .stats-box {
    margin: 20px 20px 0 0;
    border-radius: 8px;
    padding: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 120px;
    width: 180px;

    .title {
      font-weight: 500;
      margin-bottom: 24px;
    }

    .chip {
      font-size: 12px;
      border-radius: 12px;
      padding: 4px;
      padding-inline: 12px;
      margin: 0;
    }
  }

  .cyan {
    background-color: #ebfdff;
    transition: border 0.3s ease;
    .chip {
      color: #73c0c7;
      border: 1px solid #73c0c7;
    }
  }

  .cyan:hover {
    border: 1px solid #73c0c7;
  }

  .lightgreen {
    background-color: #edfdf3;
    transition: border 0.3s ease;
    .chip {
      color: #add7bf;
      border: 1px solid #add7bf;
    }
  }

  .lightgreen:hover {
    border: 1px solid #add7bf;
  }

  .lightcoral {
    background-color: #fcf2f1;
    transition: border 0.3s ease;
    .chip {
      color: #cd7d7c;
      border: 1px solid #cd7d7c;
    }
  }

  .lightcoral:hover {
    border: 1px solid #cd7d7c;
  }

  .red {
    background-color: #fcf2f1;
    transition: border 0.3s ease;
    .chip {
      border: 1px solid #dd3940;
    }
  }

  .red:hover {
    border: 1px solid #dd3940;
  }
}

.badge-pill {
  font-size: 14px;
  padding: 8px;
}

.link {
  color: #71b0db;
}

.success {
  background-color: #edfdf3 !important;
}