<div>
  <h2>Payments</h2>
  <div class="stats-row">
    <div class="stats-box" style="background-color: cyan">
      <p>Total Pending Records</p>
      <p>1800</p>
    </div>
    <div class="stats-box" style="background-color: lightgreen">
      <p>Total Paid Records</p>
      <p>1800</p>
    </div>
    <div class="stats-box" style="background-color: lightcoral">
      <p>Total Rejected Records</p>
      <p>1800</p>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Account No.</th>
          <th>Merchant Account No.</th>
          <th>Status</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.accountNumber }}</td>
          <td>{{ item.merchantAccountNumber }}</td>
          <td>
            <span
              *ngIf="item.status == 'Pending'"
              class="badge badge-pill badge-light"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Succeeded'"
              class="badge badge-pill badge-success"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Rejected'"
              class="badge badge-pill badge-danger"
              >{{ item.status }}</span
            >
          </td>
          <td>{{ item.paymentPurpose }}</td>
          <td>{{ item.createdAt | date }}</td>
          <td>{{ item.amount + " PKR" }}</td>
          <td>
            <button
              style="margin-right: 8px"
              class="btn btn-success"
              (click)="pay(item)"
            >
              Pay
            </button>
            <button class="btn btn-danger" (click)="reject(item)">
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
