
<div class="container">
    <div class="item">
        <h2>Pricing</h2>
    </div>
    <div class="item1">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Perfect for side hobby</p>
              <div class="payment-info">
                <h2 class="payment-percentage">4%</h2>
                <span class="payment-description">Service fee/Payment</span>
            </div>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Unlimited Payments</p>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Activate Three Business Services</p>
              <p class="card-text-2"><i class="material-icons">cance</i>Analyze and Predict Financial Trends</p>
              <a href="#" class="btn btn-primary">Get Started</a>

            </div>
          </div>
    </div>
    <div class="item2">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Start Up</h5>
              <p class="card-text">Perfect for small teams</p>
              <div class="payment-info">
                <h2 class="payment-percentage">5%</h2>
                <span class="payment-description">Service fee/Payment</span>
            </div>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Unlimited Payments</p>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Activate Three Business Services</p>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Analyze and Predict Financial Trends</p>
              <a href="#" class="btn btn-primary">Get Started</a>

            </div>
          </div>
    </div>
    <div class="item3">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Organization</h5>
              <p class="card-text">Perfect for organization/p>
                <div class="payment-info">
                    <h2 class="payment-percentage">5%</h2>
                    <span class="payment-description">Service fee/Payment</span>
                </div>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Unlimited Payments</p>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Process Activate Three Business Services</p>
              <p class="card-text-2"><i class="material-icons">check_circle</i>Analyze and Predict Financial Trends</p>
              <a href="#" class="btn btn-primary">Contact sale</a>

            </div>
          </div>
    </div>

</div>
