<div>
  <header>
    <h1 style="font-size: 24px; font-weight: bold">Payments</h1>
  </header>
  <div class="stats-row">
    <div class="stats-box purple">
      <p class="title">All Payments</p>
      <p class="value">{{ (reportingCounts?.allAmount ?? 0) + " PKR" }}</p>
      <p class="chip">{{ reportingCounts?.allCount + " Records"}}</p>
    </div>
    <div class="stats-box green">
      <p class="title">Succeeded</p>
      <p class="value">{{ (reportingCounts?.acceptedAmount ?? 0) + " PKR" }}</p>
      <p class="chip">{{ reportingCounts?.acceptedCount + " Records"}}</p>
    </div>
    <div class="stats-box yellow">
      <p class="title">Pending</p>
      <p class="value">{{ (reportingCounts?.pendingAmount ?? 0) + " PKR" }}</p>
      <p class="chip">{{ reportingCounts?.pendingCount + " Records"}}</p>
    </div>
    <div class="stats-box red">
      <p class="title">Rejected</p>
      <p class="value">{{ (reportingCounts?.rejectedAmount ?? 0) + " PKR" }}</p>
      <p class="chip">{{ reportingCounts?.rejectedCount + " Records"}}</p>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Account No.</th>
          <th>Merchant Account No.</th>
          <th>Status</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Customer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="link">{{ item.accountNumber }}</td>
          <td>{{ item.merchantAccountNumber }}</td>
          <td>
            <span
              *ngIf="item.status == 'Pending'"
              class="badge badge-pill badge-light"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Succeeded'"
              class="badge badge-pill badge-success"
              >{{ item.status }}</span
            >
            <span
              *ngIf="item.status == 'Rejected'"
              class="badge badge-pill badge-danger"
              >{{ item.status }}</span
            >
          </td>
          <td>{{ item.paymentPurpose }}</td>
          <td>{{ item.createdAt | date }}</td>
          <td>{{ item.amount + " PKR" }}</td>
          <td>{{ item.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
