.stats-row{
    display: flex;
    margin: 20px 0;
    .stats-box{
        margin: 20px 20px 0 0;
        border-radius: 8px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 180px;
        font-weight: bold;
    }
}

.badge-pill {
    font-size: 14px;
    padding: 8px;
  }
  