<div>
    <h2>Payments</h2>
    <div class="stats-row">
      <div class="stats-box" style="background-color: cyan">
        <p>All Payments</p>
        <p>1800</p>
      </div>
      <div class="stats-box" style="background-color: lightgreen">
        <p>Succeeded</p>
        <p>1800</p>
      </div>
      <div class="stats-box" style="background-color: lightcoral">
        <p>Pending</p>
        <p>1800</p>
      </div>
      <div class="stats-box" style="background-color: lightgoldenrodyellow">
        <p>Rejected</p>
        <p>1800</p>
      </div>
    </div>
    <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Customer Account No.</th>
              <th>Status</th>
              <th>Description</th>
              <th>Bank</th>
              <th>Date</th>
              <th>Customer</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.customerAccountNo }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.bank }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.customer }}</td>
              <td>{{ item.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  