.stats-row {
  display: flex;
  margin: 20px 0;
  .stats-box {
    margin: 20px 20px 0 0;
    border-radius: 8px;
    padding: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 120px;
    width: 180px;

    .title {
      font-weight: 500;
      margin-bottom: 8px;
    }

    .value {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .chip {
      font-size: 12px;
      border-radius: 12px;
      padding: 4px;
      padding-inline: 12px;
      margin: 0;
    }
  }

  .purple {
    background-color: #f4f1fc;
    transition: border 0.3s ease;
    .chip {
      color: #9b8cc6;
      border: 1px solid #9b8cc6;
    }
  }

  .purple:hover {
    border: 1px solid #9b8cc6;
  }

  .green {
    background-color: #edfdf3;
    transition: border 0.3s ease;
    .chip {
      color: #1ad758;
      border: 1px solid #1ad758;
    }
  }

  .green:hover {
    border: 1px solid #1ad758;
  }

  .yellow {
    background-color: #fdf9ee;
    transition: border 0.3s ease;
    .chip {
      color: #cf920d;
      border: 1px solid #cf920d;
    }
  }

  .yellow:hover {
    border: 1px solid #cf920d;
  }

  .red {
    background-color: #fcf2f1;
    transition: border 0.3s ease;
    .chip {
      color:#dd3940;
      border: 1px solid #dd3940;
    }
  }

  .red:hover {
    border: 1px solid #dd3940;
  }
}

.badge-pill {
  font-size: 14px;
  padding: 8px;
}

.link {
  color: #71b0db;
}
