<div class="dashboard-container">
    <header>
        <h1 class="dashboard-header">Dashboard</h1>
    </header>

    <div class="dashboard-section">
        <div class="bigger-box">
            <div class="box">
                <img src="./assets/images/dashboard-1.png" alt="Monitor Image">
                <h2>Monitor Real-Time Payments</h2>
                <p>View real-time updates on successful payments, refunds and other transaction-related activities.</p>
                <a class="read-more-link">Read More</a>
            </div>

            <div class="box">
                <img src="./assets/images/dashboard-2.png" alt="Customer Image">
                <h2>Manage Customers</h2>
                <p>Access customer information, view their transactions and manage recurring payments.</p>
                <a class="read-more-link">Read More</a>
            </div>

            <div class="box">
                <img src="./assets/images/dashboard-3.png" alt="Analysis Image">        
                <h2>Analyze Performance</h2>
                <p>Track key metrics, and gain insights into your business financial performance and trends.</p>
                <a class="read-more-link">Read More</a>
            </div>
        </div>
    </div>
</div>