<div class="container">
  <div class="item1">
    <p><i class="material-icons">account_balance_wallet</i>PayHabib</p>
  </div>
  <div class="item2">
    <p class="head">Product</p>
    <p>Service</p>
    <p>Solution</p>
    <p>Pricing</p>
  </div>
  <div class="item3">
    <p class="head">Resources</p>
    <p>Blog</p>
    <p>User guides</p>
    <p>Webinars</p>
  </div>
  <div class="item4">
    <p class="head">Company</p>
    <p>About</p>
    <p>Join Us</p>
  </div>
</div>
<div class="container2">
  <div class="i1">
    <select name="lang" id="lang-selector">
      <option value="">English</option>
      <option value="اردو">اردو</option>
    </select>
  </div>
  <div class="i2">
    <p>&copy; 2022 Brand, Inc. <span class="marker">•</span> Privacy <span class="marker">•</span> Terms <span class="marker">•</span> Services</p>
    <div>
      <div>
