<nav class="navbar sticky-top flex-md-nowrap p-0">
  <div class="navbar-brand">
    <i
      class="material-icons"
      [ngClass]="{ 'merchant-icon': isCustomer === false }"
      >account_balance_wallet</i
    >
    {{ title }}
  </div>
  <div class="navbar-nav ml-auto">
    <div class="nav-item text-nowrap" style="display: flex; justify-content: center; align-items: center; font-size: 16px;">
      <button type="button" class="btn btn-outline-primary"
      [ngClass]="{ 'merchant-btn': isCustomer === false }"
       >Create</button>
      <p class="px-3" style="margin: 0;"> | {{user.username}}</p>  
      <a class="nav-link px-3" style="cursor: pointer;" (click)="logout()">Sign out</a>
    </div>
  </div>
</nav>
