.navbar{
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.75rem 1%;
    font-size: 1rem;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.material-icons{
    color: var(--customer-primary); 
    font-size: 36px;
    margin-right: 12px;
}

.merchant-icon{
    color: var(--merchant-primary);
}

.btn-outline-primary{
    color: var(--customer-primary);
    border-color: var(--customer-primary);
}

.btn-outline-primary:hover{
    background-color: white;
}

.btn-outline-primary .merchant-btn{
    color: var(--merchant-primary);
    border-color: var(--merchant-primary);
}
